<p>
  This is just a hobby project to experiment with making things. I am aware there are bugs.<br />
  Tic tac toe is unbeatable due to the computer AI being too good.<br />
  Snake plays itself but has plenty of room for improvement.<br />
  Sakura is an animation drawn with javascript using html canvas <br />
  Calculator is just a calculator but works only with int at the moment.<br />
  Heart changes colors every 1 second. The pattern is calculated.
  Layout taken from https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/
</p>
