<header class="header">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tic-tac-toe">Tic Tac Toe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sakura">Sakura</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#calculator">Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#heart">Heart</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="#snake">Snake</a>
        </li>-->
      </ul>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="container">
  <div class="centerDiv" id="about">
    <about></about>
  </div>
  <div class="centerDiv" id="tic-tac-toe">
    <p>
      Tic tac toe. Interactive. It is unbeatable due to the computer AI being too good.<br />
      Uses Typescript, Angular, REST API.
    </p>
    <tic-tac-toe></tic-tac-toe>
  </div>
  <div class="centerDiv" id="sakura">
    <p>
      Sakura (cherry blossom) animation.<br />
      Uses Typescript, HTML canvas.
    </p>
    <sakura></sakura>
  </div>
  <div class="centerDiv" id="calculator">
    <p>
      Calculator. Interactive.<br />
      Uses Typescript, Angular, REST API.
    </p>
    <calculator></calculator>
  </div>
  <div class="centerDiv last-content" id="heart">
    <p>
      Heart animation that changes random colors every 1 second.<br />
      Uses Typescript, HTML canvas.
    </p>
    <heart></heart>
  </div>
  <!--<div class="centerDiv" id="snake">
    <p>
      Snake that plays itself, I felt it was too buggy to show, but can still view it if you wish<br />
      Uses Typescript, HTML canvas.
    </p>
    <snake></snake>
  </div>-->
</main>

<!-- Fixed footer -->
<footer class="footer">
  <div class="container">
    <span class="text-muted">Made by Anna Krieviņa</span>
  </div>
</footer>
