<header class="header">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tic-tac-toe">Tic Tac Toe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sakura">Sakura</a>
        </li>
        <<li class="nav-item">
          <a class="nav-link" href="#snake">Snake</a>
        </li>>
        <li class="nav-item">
          <a class="nav-link" href="#heart">Heart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#calculator">Calculator</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="container content">
  <about id="about"></about>
  <tic-tac-toe id="tic-tac-toe"></tic-tac-toe>
  <sakura id="sakura"></sakura>
  <snake id="snake"></snake>
  <heart id="heart"></heart>
  <calculator id="heart"></calculator>
</main>

<!-- Fixed footer -->
<footer class="footer">
  <div class="container">
    <span class="text-muted">Made by Anna Krieviņa</span>
  </div>
</footer>
